<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiSettings</key>
	<dict>
		<key>Develop</key>
		<dict>
			<key>protocol</key>
			<string>http</string>
			<key>host</key>
			<string>teamlock.3ncto.com.cn</string>
		</dict>
		<key>Testing</key>
		<dict>
			<key>protocol</key>
			<string>http</string>
			<key>host</key>
			<string>teamlock.3ncto.cn</string>
		</dict>
		<key>Product</key>
		<dict>
			<key>protocol</key>
			<string>https</string>
			<key>host</key>
			<string>app.teamlock.cn</string>
		</dict>
	</dict>
	<key>UMeng</key>
	<dict>
		<key>Develop</key>
		<dict>
			<key>appKey</key>
			<string>578c9eb6e0f55ad60a000944</string>
			<key>channelId</key>
			<string>App Store</string>
		</dict>
		<key>Testing</key>
		<dict>
			<key>appKey</key>
			<string>578c9eb6e0f55ad60a000944</string>
			<key>channelId</key>
			<string>App Store</string>
		</dict>
		<key>Product</key>
		<dict>
			<key>appKey</key>
			<string>57eb31a7e0f55af1c100211f</string>
			<key>channelId</key>
			<string>App Store</string>
		</dict>
	</dict>
	<key>JPush</key>
	<dict>
		<key>Develop</key>
		<dict>
			<key>appKey</key>
			<string>40d8d0d3fc86ed322a58eab8</string>
			<key>channel</key>
			<string>App Store</string>
			<key>isProduction</key>
			<false/>
		</dict>
		<key>Testing</key>
		<dict>
			<key>appKey</key>
			<string>40d8d0d3fc86ed322a58eab8</string>
			<key>channel</key>
			<string>App Store</string>
			<key>isProduction</key>
			<true/>
		</dict>
		<key>Product</key>
		<dict>
			<key>appKey</key>
			<string>cf9219362ba0c8d735d002de</string>
			<key>channel</key>
			<string>App Store</string>
			<key>isProduction</key>
			<true/>
		</dict>
	</dict>
	<key>EaseMob</key>
	<dict>
		<key>Develop</key>
		<dict>
			<key>appKey</key>
			<string>easemob-demo#chatdemoui</string>
			<key>apnsCertName</key>
			<string></string>
			<key>isEnableConsoleLogger</key>
			<true/>
		</dict>
		<key>Testing</key>
		<dict>
			<key>appKey</key>
			<string>teamlock#teamlocktest</string>
			<key>apnsCertName</key>
			<string>Develop_user</string>
			<key>isEnableConsoleLogger</key>
			<string>NO</string>
		</dict>
		<key>Product</key>
		<dict>
			<key>appKey</key>
			<string>teamlock#teamlockmaster</string>
			<key>apnsCertName</key>
			<string>user_push_dist</string>
			<key>isEnableConsoleLogger</key>
			<string>NO</string>
		</dict>
	</dict>
	<key>WeChat</key>
	<dict>
		<key>Develop</key>
		<dict>
			<key>appId</key>
			<string>wx785a0360c3b11f65</string>
			<key>appSecret</key>
			<string>f50070e3b6726b9843644d0c5a5831d9</string>
		</dict>
		<key>Testing</key>
		<dict>
			<key>appId</key>
			<string>wx785a0360c3b11f65</string>
			<key>appSecret</key>
			<string>f50070e3b6726b9843644d0c5a5831d9</string>
		</dict>
		<key>Product</key>
		<dict>
			<key>appId</key>
			<string>wx41a0157286670c46</string>
			<key>appSecret</key>
			<string>396de71db295212ec46ec6b8fd961337</string>
		</dict>
	</dict>
</dict>
</plist>
